<h1>Groups</h1>

<% if current_user %>
	<p>Signed in as: <%= current_user.name %></p>
<% else %>
	<%= link_to "auth/facebook" do "Sign In"  end %>
<% end %>

<%= link_to 'Sign Out', sign_out_path %></br>

<%= link_to 'New Group', new_group_path %></br>

<% @groups.each do |group| %>
  <% group.images.each do |image| %>
    <%= image_tag image.pic.url(:medium) %>
    <%= pluralize(image.votes.count, "vote") %>
    <%= button_to '+1', image_upvote_path(image), method: :post %>
  <% end %>
<% end %>